[submodule "pack/themes/opt/dracula"]
	path = pack/themes/opt/dracula
	url = git@github.com:dracula/vim.git
[submodule "pack/tpope/start/vim-sensible"]
	path = pack/tpope/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "pack/tpope/start/vim-sleuth"]
	path = pack/tpope/start/vim-sleuth
	url = git@github.com:tpope/vim-sleuth.git
[submodule "pack/tpope/start/vim-commentary"]
	path = pack/tpope/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/tpope/start/vim-surround"]
	path = pack/tpope/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/tpope/start/vim-dispatch"]
	path = pack/tpope/start/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "pack/github/start/fzf.vim"]
	path = pack/github/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "pack/github/start/ale"]
	path = pack/github/start/ale
	url = git@github.com:dense-analysis/ale.git
